.footer {
  background-color: #494a97;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 2rem 0;

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}
