.nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #494a97;

  &__logo {
  }

  &__buttons {
    width: max-content;
    &-login {
      margin-right: 1rem;
      font-size: 2rem;
      color: #ffe66d;
    }
  }
}
